body{
    background-color: black;
    color: white;
}

*{
    box-sizing: border-box;
}

fieldset{
    width: 325px;
    height: 172px;
    padding-top: 10px;
}

form{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

div{
    width: 303px;
    margin-bottom: 10px;
}

label{
    width: 151px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
    margin-left: 0;
}

input{
    right: 0;
    margin-right: 0;
    padding-right: 0;
}

input[type = submit]{
    width: 60px;
    padding-left: 0;
}