*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#181a1b;
    color: #c8c3bc;
}

// Navbar:
nav{
    background-color: rgb(3, 136, 87);
    position: sticky;
    top: 0;
}

nav > div{
    overflow: hidden;
    width: 75%;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}

nav > div > div:nth-of-type(1){
    float: left;
}

nav > div > div:nth-of-type(1) > img{
    width: 42px;
}

nav > div > div:nth-of-type(2){
    margin: 10px 0 0 50px;
    width: 800px;
}

nav > div > div:nth-of-type(2) > h1{
    color: white;
}

// nav > div > a{
//     float: right;
//     color: #ffffff;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;
// }

// nav > div > a:hover{
//     background-color: #964e0a;
// }
// End of navbar

// Content:
#contentDiv{
    width: 75%;
    left: 0;
    right: 0;
    margin: 50px auto 0 auto;
}

#contentDiv > p:nth-of-type(1),
#contentDiv > p:nth-of-type(2){
    margin: 5px 0 100px 20px;
}

#contentDiv > p:nth-of-type(3),
#contentDiv > p:nth-of-type(5),
#contentDiv > p:nth-of-type(7){
    margin: 5px 0 0 20px;
}

#contentDiv > h2{
    margin: 20px 0 5px 20px;
}

#contentDiv > p:nth-of-type(4),
#contentDiv > p:nth-of-type(6),
#contentDiv > p:nth-of-type(8){
    margin: 0 0 100px 40px;
}

// #contentDiv > p:nth-of-type(2){
//     margin: 5px 0 50px 0;
// }
// End of content