body{
    background-color: black;
}

.h11{
    color: #964A26;
}

.p1{
    color: #964A26;
}

.img1{
    width: 204.4px;
}

.img2{
    height: 278.6;
}

.p2{
    color: #964A26;
}

.p3{
    color: #964A26;
}