*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}
/* Header: */
header{
    margin: 10px auto 15px auto;
    outline: solid white 2px;
    border-radius: 10px;
    padding: 25px 0;
    text-align: center;
    width: 90%;
    min-width: 425px;
    max-width: 980px;
}

/* Navbar: */
nav{
    top: 2px;
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    width: 90%;
    background-color: #222;
    min-width: 425px;
    max-width: 980px;
    position: sticky;
    border-radius: 10px;
    padding-left: 10px;
}

div{
    display:inline ;
}

button{
    background: none;
	color: inherit;
	border: none;
	margin: 10px;
    padding: 0;
	font: inherit;
	cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	margin: 10px;
    padding: 0;
	font: inherit;
	cursor: pointer;
    display: inline-block;
}

li > a{
    display: inline-block;
    padding: 10px;
    width: 150px;
}

.home, .overMij, .contact{
    position: relative;
}

ul{
    position: absolute;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    background-color: #222;
    border-radius: 10px;
    margin-left: -80px;
    opacity: 0;
    pointer-events: none;
    display: inline-block;
}

li{
    
}

li:hover{
    background-color: #444;
    border-radius: 10px;
}

a:hover{
    
}

.overMij > a:hover + ul{
    opacity: 1;
    pointer-events: all;
}

.invisible{
    color: rgba(0, 0, 0, 0);
}

/* Div center: */
#divCenter{
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    height: calc(100vh - 235px);
    min-height: 375px;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Footer: */
footer{
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    padding: 25px 0;
    text-align: center;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
    height: calc(100% - 211px);
    border-radius: 10px;
}

#divLorem{
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    height: 500px;
    min-height: 375px;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#divLorem > p{
    margin: 20px;
}