*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}
/* Header: */
header{
    margin: 10px auto 15px auto;
    outline: solid white 2px;
    border-radius: 10px;
    padding: 25px 0;
    text-align: center;
    width: 90%;
    min-width: 425px;
    max-width: 980px;
}

/* Navbar: */
nav{
    top: 2px;
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    width: 90%;
    background-color: #222;
    min-width: 425px;
    max-width: 980px;
    position: sticky;
    border-radius: 10px;
}

div#dropdown{
    border-radius: 0;
}

#dropdown div{
    display: inline-block;
}

#dropdown div ul li{
    list-style: none;
    padding: 10px 0;
}

#dropdown div ul li:hover{
    background-color: #333;
}

#dropdown > div > ul > li > a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

#dropdown div ul li ul{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    margin-left: 0;
    padding-left: 0;
    background-color: #222;
    outline: white solid 1px;
    border-radius: 10px;
    margin-top: 10px;
}

#dropdown > div > ul > li > ul > li{
    border-radius: 10px;
    padding: 0;
}

#dropdown > div > ul > li > ul > li > a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    padding-left: 20px;
    width: 100%;
    display: inline-block;
}

#dropdown div ul li ul li:hover{
    background-color: #333;
}

#dropdown div ul li:hover ul{
    opacity: 1;
    pointer-events: all;
}

#divCenter{
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    height: calc(100vh - 235px);
    min-height: 375px;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Footer: */
footer{
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    padding: 25px 0;
    text-align: center;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
    height: calc(100% - 211px);
    border-radius: 10px;
}

#divLorem{
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    height: 500px;
    min-height: 375px;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#divLorem > p{
    margin: 20px;
}