body{
    background-color: black;
    color: white;
    margin: 0;
}

/* Sticky Header & navbar: */
header{
    position: sticky;
    top: 10px;
    height: 50px;
    /* border: solid rgb(9, 255, 0) 1px; */
    min-width: 1005px;
    max-width: 1400px;
    width: 75%;
    margin: 10px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
}

#divNav{
    width: 100%;
    height: 100%;
    display: inline;
}

#navImg{
    float:left;
    height: calc(100% - 10px);
    padding: 5px;
}

#divNav > h1{
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}

/* Dropdown: */
#dropdown{
    float: right;
}

#dropdown ul{
    margin: 0;
    padding: 0;
}

#dropdown > ul > li:hover > a{
    background-color: #444;
}

#dropdown > ul > li > ul{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    margin-left: 2px;
    display: block;
}

#dropdown > ul > li > ul > li > ul{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: block;
}

#dropdown > ul > li:hover > ul,
#dropdown > ul > li > ul > li:hover > ul{
    opacity: 1;
    pointer-events: all;
}

#dropdown > ul > li > ul > li:hover > a,
#dropdown > ul > li > ul > li > ul > li:nth-child(1):hover > a{
    background-color: #444;
}

#dropdown > ul > li,
#dropdown > ul > li > ul > li,
#dropdown > ul > li > ul > li > ul > li{
    list-style: none;
    display: inline;
}

#dropdown > ul,
#dropdown > ul > li,
#dropdown > ul > li > ul,
#dropdown > ul > li > ul > li,
#dropdown > ul > li > ul > li > ul,
#dropdown > ul > li > ul > li > ul > li{
    font-size: 0;
}

#dropdown > ul > li > a,
#dropdown > ul > li > ul > li > a,
#dropdown > ul > li > ul > li > ul > li > a{
    font-size: 15px;
}

#dropdown > ul > li > a{
    text-decoration: none;
    color: white;
    /* background-color: #222; */
    padding: 16.5px;
    display: inline-block;
}

#dropdown > ul > li > ul > li > a, #dropdown > ul > li > ul > li > ul > li > a{
    text-decoration: none;
    color: white;
    background-color: #222;
    padding: 16px;
    display: inline-block;
}

/* Green line after header: */
hr{
    margin: 0;
    color: rgb(9, 255, 0);
}