/* Navbar current page: */
#liMenu > ul > li:nth-child(3) > ul > li{
    pointer-events: none;
}

#liMenu > a,
#liMenu > ul > li:nth-child(3) > a,
#liMenu > ul > li:nth-child(3) > ul > li > a{
    background-color: #038857;
}

#divContent{
    z-index: 1;
    min-width: 1005px;
    max-width: 1920px;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#divContent > img{
    width: 100%;
}

#divContent > div{
    width: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#divContent > div > img{
    width: 100%;
}

#divContent > p{
    text-align: center;
}

.green{
    color: #44d62c;
}