*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    margin: 50px auto 15px auto;
    outline: solid white 2px;
    padding: 25px 0;
    text-align: center;
    width: 90%;
    min-width: 425px;
    max-width: 980px;
}

#divCenter{
    margin: 0 auto 15px auto;
    /* outline: solid white; */
    height: calc(100vh - 231px);
    min-height: 375px;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
}

#divLeft{
    float: left;
    outline: solid white 2px;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#text1{
    margin-top: 0;
}

#divRight{
    float: right;
    outline: solid white 2px;
    width: calc(60% - 30px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text2{
    margin-top: 0;
}

footer{
    margin: 0 auto 15px auto;
    outline: solid white 2px;
    padding: 25px 0;
    text-align: center;
    min-width: 425px;
    max-width: 980px;
    width: 90%;
}