*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    margin: 50px 5% 15px 5%;
    outline: solid white 2px;
    padding: 25px 0;
    text-align: center;
}

#divCenter{
    margin: 0 5% 15px 5%;
    /* outline: solid white; */
    height: 1000px;
}

#divLeft{
    float: left;
    outline: solid white 2px;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#text1{
    margin-top: 0;
}

#divRight{
    float: right;
    outline: solid white 2px;
    width: calc(60% - 30px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text2{
    margin-top: 0;
}

footer{
    margin: 0 5% 15px 5%;
    outline: solid white 2px;
    padding: 25px 0;
    text-align: center;
}