/* Maak de website donker thema: */
body{
    background-color: black;
    color: white;
}

/* Gekleurde DIVs met tekst: */
body > div{
    width: 300px;
    height: 30px;
    outline: white solid 2px;
}

body > div > p{
    text-align: center;
    padding-top: 5px;
}