body{
    background-color: black;
    color: white;
}

body > div{
    width: 300px;
    height: 30px;
    outline: white solid 2px;
}

body > div > p{
    text-align: center;
    padding-top: 5px;
    /* background-color: rgb(0, 255, 0); */
}