#orderProductDiv{
    width: 50%;
    left: 0;
    right: 0;
    margin: 50px auto 0 auto;
}

#orderProductDiv > img{
    width: 100%;
}

#orderProductDiv > input{
    width: 80px;
    height: 50px;
    left: 0;
    right: 0;
    margin: 30px 0 0 calc(50% - 110px);
    font-size: 25px;
    padding: 5px 15px;
}

#orderProductDiv > a{
    text-decoration: none;
    color: white;
    background-color: #222;
    padding: 10px 20px;
    outline: 1px solid white;
    font-size: 25px;
}

#orderProductDiv > a:nth-of-type(1){
    margin: 0 5px 0 3px;
}

#orderProductDiv > a:nth-of-type(3){
    position: absolute;
    margin: 30px 0 0 calc(5%);
}

#orderProductDiv > a:nth-of-type(4){
    position: absolute;
    margin: 30px 0 0 30%;
}