*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

// Navbar:
body > nav{
    background-color: #20222a;
    height: 75px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

// Logo and name:
body > nav > div:nth-of-type(1){
    height: 100%;
    width: 320px;
    float: left;
}

// Logo:
body > nav > div:nth-of-type(1) > div:nth-of-type(1){
    height: 100%;
    float: left;
}

body > nav > div:nth-of-type(1) > div:nth-of-type(1) > img{
    height: 100%;
}
// End of logo

// Name:
body > nav > div:nth-of-type(1) > div:nth-of-type(2){
    height: 100%;
    float: right;
}

body > nav > div:nth-of-type(1) > div:nth-of-type(2) > h1{
    margin: 15px 0 0 0;
    font-size: 35px;
}
// End of name
// End of logo and name

// Buttons:
body > nav > div:nth-of-type(2){
    float: right;
    height: 100%;
}

body > nav > div:nth-of-type(2) > ul{
    list-style-type: none;
    overflow: hidden;
    height: 100%;
}

body > nav > div:nth-of-type(2) > ul > li{
    float: left;
    height: 100%;
}

body > nav > div:nth-of-type(2) > ul > li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 18px 40px 14px 40px;
    text-decoration: none;
    height: 100%;
    font-size: 30px;
}

body > nav > div:nth-of-type(2) > ul > li:nth-of-type(2) > a:hover,
body > nav > div:nth-of-type(2) > ul > li:nth-of-type(3) > a:hover{
    background-color: #111;
}
// End of buttons
// End of navbar