body{
    background-color: black;
    color: white;
}

a{
    color: cyan;
}

p{
    display: inline;
}

#nmr{
    color: red;
}

#ldr{
    color: red;
}

#result{
    color: red;
}

#result2{
    color: orange;
}

#result3{
    color: orange;
}