/* Navbar current page: */
#dropdown > ul > li > ul > li > ul > li:nth-child(1){
    pointer-events: none;
}

#liMenu > a,
#liMenu > ul > li:nth-child(1) > a,
#liMenu > ul > li > ul > li:nth-child(1) > a{
    background-color: #038857;
}

/* #dropdown > ul > li > ul > li:hover > a,
#dropdown > ul > li > ul > li > ul > li:nth-child(1):hover > a{
    background-color: #038857;
} */