/* Navbar current page: */
#dropdown > ul > li > ul > li:nth-child(3){
    pointer-events: none;
}

#dropdown > ul > li > ul > li:nth-child(3) > a{
    background-color: #038857;
}

/* Youtube video: */
#divIframe{
    z-index: 1;
    position: absolute;
    margin-top: 100px;
    min-width: 1005px;
    max-width: 75%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: calc(50% - 162px);
    min-height: 300px;
}