/* Navbar current page: */
#dropdown > ul > li > ul > li:nth-child(2){
    pointer-events: none;
}

#dropdown > ul > li > ul > li:nth-child(2) > a{
    background-color: #038857;
}

/* Table: */
#divTable{
    z-index: 1;
    position: absolute;
    margin-top: 100px;
    min-width: 1005px;
    max-width: 75%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.75);
    outline: solid 1px #555;
}

/* #divTable > table{
    
} */

#divTable > table > thead > tr > th{
    outline: solid 2px white;
    padding: 10px;
    background-color: #444;
}

#divTable > table > tbody > tr > td{
    outline: solid 2px white;
    padding: 10px;
}

#divTable > table > tbody > tr:nth-child(odd){
    background-color: #222;
}

#divTable > table > tbody > tr:nth-child(even){
    background-color: #444;
}

#divTable > table > tbody > tr:hover{
    background-color: #999;
    color: aqua;
}