/* Navbar current page: */
#dropdown > ul > li > ul > li:nth-child(1){
    pointer-events: none;
}

#dropdown > ul > li > ul > li:nth-child(1) > a{
    background-color: #038857;
}

/* Form: */
#divForm{
    z-index: 1;
    position: absolute;
    margin-top: 200px;
    min-width: 1005px;
    max-width: 75%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    background-color: rgba(0, 0, 0, 0.75);
}

fieldset > form > div{
    margin-bottom: 10px;
}

fieldset > form > div > label{
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}